h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

video {
  object-fit: contain;
  width: 300px;
  height: 150px;
  

}
